body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.cropped-image {
    max-width: 300px; 
    max-height: 200px; 
    width: auto;
    height: auto;
}

.pfp {
    border-radius: 50%; /* makes the pfp circular*/
}

.dark-mode {
    background-color: #323338;
}

.overlay-pfp {
    margin-top: -50px;
}
